<nav class="navbar">
	<h1 class="navbar-logo">ds.</h1>
	<nav class="navbar-menu">
		<button
			type="button"
			class="bi bi-linkedin active"
			onclick="location.href='https://www.linkedin.com/in/daniel-schworm-241a10199/'"
		></button>
		<button
			type="button"
			class="bi bi-instagram"
			onclick="location.href='https://www.instagram.com/dannniii.s/'"
		></button>
		<button
			type="button"
			class="bi bi-twitter"
			onclick="location.href='https://twitter.com/daniel_6199'"
		></button>
		<button type="button" class="ubi bi-link-45deg"></button>
	</nav>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
