<div class="container content title">
	<div class="row col-xs-12 col-sm-12 col-md-12 text-center">
		<h1>About me</h1>
		<p>
			I am <span>Daniel</span>, a 23 years old Jr. Frontend Software
			Solution Engineer from near Stuttgart in Germany. <br /><br />
			After successfully completing my Abitur in 2018 with a focus on
			business, I started studying business informatics. The studies at
			the Cooperative State University in Stuttgart took place in
			cooperation with MCL IT GmbH in Böblingen. In 2021, I successfully
			completed the
			<span
				>Bachelor of Science in Business Information Systems -
				Application management</span
			>. I wrote my bachelor thesis about a conceptual design of an
			interactive help and feedback system for a customer-oriented web
			application. <br /><br />
			Currently I am working as a Jr. Frontend Software Solution Engineer
			for the e-commerce oriented company
			<span>Experts in Motion AG</span> in Stuttgart. <br /><br />My
			<span>areas of interest</span> are user experience, user interface
			design, frontend development and design conceptualization.
		</p>
	</div>
</div>
