<!-- <div class="container content title">
	<div class="row col-xs-12 col-sm-12 col-md-12 text-center">
		<h1>Skills</h1>
		<div class="card-wrapper">
			<div class="card">
				<img src="../../assets/dev.png" alt="" />
				<h3 class="card-title">Development</h3>
				<p class="card-content">
					I have been interested in programming since school. I first
					learned the basics in HTML and CSS. During my studies I also
					learned Java to understand the basic programming paradigms.
					Afterwards I learned Javascript to be able to do more in the
					frontend. After that I started to explore the framework
					Angular, which I still use today. In development I like to
					use HTML, CSS, JS (Typescript) and Angular.
				</p>
			</div>
			<div class="card">
				<img src="../../assets/ux.png" alt="" />
				<h3 class="card-title">UX Design</h3>
				<p class="card-content">
					Out of personal interest I have been working with design,
					user experience and user interface design during my studies.
					I test AdobeXD and Sketch, in the end I prefer Figma as my
					personal prototyping tool. I am also familiar with Google's
					Material Design. For my UX design process, I mainly use
					Figma for prototyping and good old pen & paper.
				</p>
			</div>
		<div class="card">
				<img src="../../assets/methods.png" alt="" />
				<h3 class="card-title">Methods</h3>
				<p class="card-content">
					Through my bachelor studies I have learned many different
					methods that can be applied in many development projects. I
					am familiar with Scrum framework and use Design Thinking for
					UX process. Through the scientific experience through my
					bachelor studies I can apply more learned methods in the
					different areas.
				</p>
			</div>
			<div class="card">
				<img src="../../assets/methods.png" alt="" />
				<h3 class="card-title">Methods</h3>
				<p class="card-content">
					Through my bachelor studies I have learned many different
					methods that can be applied in many development projects. I
					am familiar with Scrum framework and use Design Thinking for
					UX process. Through the scientific experience through my
					bachelor studies I can apply more learned methods in the
					different areas.
				</p>
			</div>
		</div>
	</div>
</div> -->

<div class="container content title">
	<div class="row col-xs-12 col-sm-12 col-md-12 text-center">
		<h1>Skills</h1>
		<div class="wrapper-grid">
			<div class="card-container">
				<div class="dots-wrapper">
					<div id="dot-1" class="browser-dot"></div>
					<div id="dot-2" class="browser-dot"></div>
					<div id="dot-3" class="browser-dot"></div>
				</div>
				<h2 class="title">Software Development</h2>
				<p>
					I have been interested in programming since school. I first
					learned the basics in HTML and CSS. During my studies I also
					learned Java to understand the basic programming paradigms.
					Afterwards I learned Javascript to be able to do more in the
					frontend. After that I started to explore the framework
					Angular, which I still use today. In development I like to
					use HTML, CSS, JS (Typescript) and Angular. Due to my
					current job in e-commerce, I work with Intershop software.
				</p>
			</div>
			<div class="card-container">
				<div class="dots-wrapper">
					<div id="dot-1" class="browser-dot"></div>
					<div id="dot-2" class="browser-dot"></div>
					<div id="dot-3" class="browser-dot"></div>
				</div>
				<h2 class="title">UX & UI Design</h2>
				<p>
					Out of personal interest I have been working with design,
					user experience and user interface design during my studies.
					I test AdobeXD and Sketch, in the end I prefer Figma as my
					personal prototyping tool. I am also familiar with Google's
					Material Design. For my UX design process, I mainly use
					Figma for prototyping and good old pen & paper. In my work I
					create app concepts but also single UI elements. I enjoy
					creating beautiful but also functional designs to make users
					happy.
				</p>
			</div>
			<div class="card-container">
				<div class="dots-wrapper">
					<div id="dot-1" class="browser-dot"></div>
					<div id="dot-2" class="browser-dot"></div>
					<div id="dot-3" class="browser-dot"></div>
				</div>
				<h2 class="title">Methods</h2>
				<p>
					Through my bachelor studies I have learned many different
					methods that can be applied in many development projects. I
					am familiar with Scrum framework and use Design Thinking for
					UX process. Through the scientific experience through my
					bachelor studies I can apply more learned methods in the
					different areas.
				</p>
			</div>
			<div class="card-container">
				<div class="dots-wrapper">
					<div id="dot-1" class="browser-dot"></div>
					<div id="dot-2" class="browser-dot"></div>
					<div id="dot-3" class="browser-dot"></div>
				</div>
				<h2 class="title">Experience</h2>
				<p>
					I currently work at XIM in the e-commerce environment. I
					have the role of a frontend engineer and am responsible for
					continuously improving the online store in terms of UI and
					UX.
				</p>
			</div>
		</div>
	</div>
</div>
